PORT=5000
NODE_ENV=development
# MONGO_URI=mongodb+srv://shopnest-ecom-MERN:Pk4142@cluster0.fgpvmsh.mongodb.net/?appName=Cluster0
MONGO_URI=mongodb://127.0.0.1:27017/roomnest
JWT_SECRET=9d3eebeb9f63f1f8a5ac3e199e9e7b036b111918bccb154922ddb1f971042206
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=a1c8f43e7b92d5601de8bb337facf8b2e4e0c9871a4d6f3b0e2c5a9d7f1b3e6
JWT_REFRESH_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=princebth1988@gmail.com
SMTP_PASS=xipfahtfyxgdhuwr
SMTP_FROM="RoomNest <princebth1988@gmail.com>"

CLOUDINARY_CLOUD_NAME=dzagekc4f
CLOUDINARY_API_KEY=594932173332851
CLOUDINARY_API_SECRET=lE_CqYiAIrPz8mF1RqP1tgsRP1Y

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=